@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto:300,400,700");

// COLORS
$white: #fff;
$primary: #0222ff;
$accent: #ff3466;
$lightestBlue: lighten($primary, 45%);
$lighterBlue: lighten($primary, 40%);
$darkerBlue: darken($primary, 5%);
$darkestBlue: darken($primary, 25%);

// BASE
body {
  background-color: $lightestBlue;
  color: $primary;
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  height: 100vh; 
}

.app__name {
  color: $primary;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 60px;
  left: 0;
}
